@import "tailwindcss";

body {
  background-color: #020617;
  color: #E5E7EB;
  font-family: 'Inter', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-fast {
  animation: fadeIn 0.15s ease-out forwards;
}

@keyframes toast-in-out {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

.animate-toast {
  animation: toast-in-out 3s ease-in-out forwards;
}
